/* Root Styles */
#root {
  height: 100%;
  width: 100%;
  background-color: black;
}

h1 {
  font-size: 2rem;
}

a {
  color: white;
}

a:hover {
  color: white;
}

/* Background Images for different components */
.home-background {
  background-image: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.calculator-background {
  background-image: url("https://images.pexels.com/photos/3112004/pexels-photo-3112004.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}

.results-background {
  background-image: url("https://images.pexels.com/photos/371049/pexels-photo-371049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
}
/* Navbar color */
.navbar {
  background-color: black;
  transition: 150ms ease-in-out;
}

h4 {
  font-size: 1.2rem;
}

/* Home Page Styles */
.jumbotronContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.jumbotron {
  background-color: transparent;
  width: 75%;
}

.btn-outline-secondary {
  border: 1px white solid;
  border-radius: 360px;
  color: white;
  width: 12rem;
  transition: 300ms;
}

.btn-outline-secondary:hover {
  color: black;
  background-color: white;
}

/* About Page Styles */

.btn-outline-dark {
  border-radius: 360px;
  width: 9.5rem;
  transition: 300ms;
}

.btn-outline-dark:hover {
  color: white;
  background-color: black;
}

/* Calculator Form */
form {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px white solid;
}

.form-control {
  background: transparent;
  border: 0;
  color: white;
  border-radius: 0;
  border-bottom: 1px white solid;
  width: 350px;
  padding: 0;
  margin: 0;
}

.form-control::placeholder {
  color: white;
}

select option {
  color: black;
}

.form-control:focus {
  background: transparent;
  border: 0;
  color: white;
  box-shadow: none;
  border-bottom: 1px white solid;
}

.row {
  margin-left: 0;
}

.d-flex .container {
  padding: 0.3rem 1rem;
}

.show-button {
  opacity: 1;
  pointer-events: all;
  transition: 150ms ease-in-out;
}

.hide-button {
  opacity: 0;
  pointer-events: none;
  transition: 150ms ease-in-out;
}

/* Contact and Footer Styles */
footer {
  background-color: black;
  color: white;
}

/* Phone and Tablet changes */
@media only screen and (max-width: 992px) {
  /* Change background for phones and tablets */
  .home-background {
    background-image: url("https://images.pexels.com/photos/2827400/pexels-photo-2827400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position-y: 2rem;
  }
  .calculator-background {
    background-image: url("https://images.pexels.com/photos/416809/pexels-photo-416809.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
  .results-background {
    background-image: url("https://images.pexels.com/photos/1552102/pexels-photo-1552102.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

  .x-small-font-size {
    font-size: 0.9rem;
    width: 75% !important;
  }

  /* Changes sizes of texts */
  .learn-more {
    font-size: 1.2rem;
    font-weight: 350 !important;
  }

  /* Center text */
  .center-text {
    text-align: center !important;
  }

  .remove-navbar {
    opacity: 0;
    pointer-events: none;
  }
}
